/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media screen and (max-width:480px) {
    footer {
        height: 50px;
        background-color: white;
        bottom: 0;
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: space-around;
    }

    .fa-house {
        color:#A9ADB1;
        font-size: 20px;
    }
    .fa-house:hover{
        color: #CD5087;
    }

    .fa-comment-dots{
        color:#A9ADB1;
        font-size: 20px;
    }
    .fa-comment-dots:hover{
        color: #CD5087;
    }

    .fa-ice-cream {
        color:#A9ADB1;
        font-size: 20px;
    }
    .fa-ice-cream:hover{
        color: #CD5087;
    }

    .fa-circle-user {
        color:#A9ADB1;
        font-size: 20px;
    }
    .fa-circle-user:hover{
        color: #CD5087;
    }

    a{
        text-align: center;
        text-decoration: none;
    }

    .banana{
        margin-top: 6px;
        color:#A9ADB1;
    }
}